{{ define "main" }}
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    {{ .Content }}
    <div class="row">
        <div class="col-md-9">
            {{ $workflowsIndexPage := site.GetPage "/catalogue/workflows/_index.md"}}
            {{ partial "workflows/table" (dict "caption" "Workflows" "rows" $workflowsIndexPage.Sections) }}
{{/*            {{ partial "catalogue/system_logos" . }}*/}}
        </div>
        <div class="col-md-3">
            <h3>Catalogue Sections</h3>
            <ul>
{{/*                <li><a href="/catalogue/systems/">Systems</a></li>*/}}
                <li><a href="/catalogue/workflows/">Workflows</a></li>
{{/*                <li><a href="/catalogue/platforms/">Platforms</a></li>*/}}
                <li><a href="/catalogue/code-bases/">Code-bases</a></li>
            </ul>
        </div>
    </div>
{{ end }}