{{ define "main" }}
    {{ $workflowPage := .Page.CurrentSection}}
    <div data-pagefind-ignore>
        {{ if eq .Params.scope "notify" }}
            <h1 class="page-title">{{ .Page.CurrentSection.Title }} workflow: {{ .Title }}</h1>
            {{ $patternPath := print "/specification/patterns/" .Params.pattern}}
            {{ $patternPage := site.GetPage $patternPath }}
            {{ $mergedPayload := $patternPage.Params.Payload }}
            {{ $scenarioStepPayloadContainerMap := .Params.Payload }}
            {{ with $scenarioStepPayloadContainerMap }}
                {{ $mergedPayload = merge $mergedPayload . }}
            {{ end }}

            {{ $patternTitle := $patternPage.Title }}

            <div class="status-badge-large">
                {{ partial "status_badge" (dict "status" $workflowPage.Params.status "category" "workflow" "show_only_warnings" true) }}
            </div>
            (This is a <i>Notify</i> notification from the <i><a href="{{ $workflowPage.Permalink }}">{{ .Page.CurrentSection.Title }}</a></i> workflow, using the <i><a href="{{ $patternPath }}/">{{ $patternTitle }}</a></i>
            notification pattern).
            <hr/>
            <div class="row">
                <div class="col">
                    <h3>Properties</h3>
                    {{ partial "properties/all_properties" (dict "payload" $mergedPayload "payloadDocs" .Params.payload_docs "siteParams" $.Site.Params) }}
                </div>
                <div class="col">
                    <h3>Example JSON-LD Payload</h3>
                    {{ $payload := partial "properties/json_payload" (dict "payload" $mergedPayload "siteParams" $.Site.Params) }}
                    {{ (partial "render_json" $payload) | markdownify }}
                    <p class="read-more"><a href="./index.json">Get raw JSON-LD</a></p>
                </div>
            </div>
        {{ else }}
            {{/*        {{ partial "section_badge" "Workflow Step from Example Scenario" }}*/}}
            <h1 class="page-title">{{ .Title }}</h1>
            <div class="status-badge-large">
                {{ partial "status_badge" (dict "status" $workflowPage.Params.status "category" "workflow" "show_only_warnings" true) }}
            </div>
            <p>(This is not a <i>Notify</i> notification, but is included as an indication of a logical step in the workflow. The details of this step are out-of-scope of <i>Notify</i> and should be considered opaque to the service
                undertaking the step.)</p>
        {{ end }}
        <h3>Description</h3>
        <p>{{ .Description | markdownify }}</p>
        <p>{{ .Content }}</p>
    </div>
{{ end }}
