{{ define "main" }}
    {{ $workflowPage := .CurrentSection }}
    {{ partial "workflows/badges" . }}

		<h1>{{ $workflowPage.Title}} workflow (step {{ .File.ContentBaseName}}: {{ .Title }})</h1>
    {{ partial "workflows/display_flowchart" (dict "workflowPage" $workflowPage "page" .)  }}
		<h2>Step {{ .File.ContentBaseName}}: {{ .Title }}</h2>
    {{ partial "rfc2119" . }}
		<p>{{ .Description | markdownify }}</p>
		<p>{{ .Content }}</p>
		<div data-pagefind-ignore>
        {{ if eq .Params.scope "notify" }}
            {{ $mergedPayload := partial "payload/build_workflow_step_payload" . }}

						<div class="row">
							<div class="col">
								<h2>Properties</h2>
                  {{ partial "payload/render_markdown" $mergedPayload }}
							</div>
							<div class="col">
								<h2>Example JSON-LD Payload</h2>
								<div class="get-raw-json-button">
									<a class="btn btn-sm btn-secondary" href="./index.json">Get raw JSON</a>
								</div>
                  {{ (partial "payload/render_json_as_html" $mergedPayload) }}
							</div>
						</div>
        {{ end }}
		</div>

    {{ partial "mermaid_initialisation" . }}
{{ end }}