{{ define "main" }}
    <h1 class="page-title">{{ .Title }}</h1>
    {{ .Content }}
    <div class="row">
        <div class="col-md-4">
            <h2><code>origin</code> &amp; <code>target</code></h2>
            {{ partial "entities/processGenericPayloadsForDisplay" site.Data.payloads.systems }}
        </div>
        <div class="col-md-4">
            <h2><code>actor</code></h2>
            {{ partial "entities/processGenericPayloadsForDisplay" site.Data.payloads.actors }}
        </div>
        <div class="col-md-4">
            <h2><code>object</code></h2>
            {{ partial "entities/processGenericPayloadsForDisplay" site.Data.payloads.artefacts }}
        </div>
    </div>
{{ end }}