{{ define "main" }}
	<div class="badge-header">
      {{ range (where (where site.Pages "Section" "specification" ) ".Params.vocabulary_terms"  "intersect" (slice .Title )) }}
          {{ partial "versioning/version_badge" . }}
      {{ end }}
      {{ partial "status/status_badge" . }}
	</div>
	<h1>{{ .Title }}</h1>
	<h3>Description</h3>
  {{ .Description }}
	<br/><br/>
	<h3>Persistent ID</h3>
  {{ .Params.pid }}
	<br/><br/>
			{{ .Content}}
  {{/*    <br/><br/>*/}}
  {{/*    {{ $thisTerm := print "coar-notify:" .File.ContentBaseName }}*/}}
  {{/*    {{ $thisTermAsSlice := slice $thisTerm }}*/}}
  {{/*    {{ $patternsUsingThisVocabTerm := where (where site.RegularPages "Type" "patterns" ) ".Params.Payload.type" "intersect" $thisTermAsSlice}}*/}}
  {{/*    {{ partial "patterns/patterns_table" (dict "caption" "Patterns which use this vocabulary term" "rows" $patternsUsingThisVocabTerm) }}*/}}
  {{/*    <br/>*/}}

  {{/*    {{ $workflowsUsingThisVocabTerm := where (where site.RegularPages "Type" "workflows" ) ".Params.Payload.type" "intersect" $thisTermAsSlice}}*/}}
  {{/*    {{ partial "workflows/table" (dict "caption" "workflows which use this vocabulary term" "rows" $workflowsUsingThisVocabTerm)}}*/}}
{{ end }}