{{ $workflowPage := .workflowPage}}
{{ $currentPage := .page }}

{{/*{{ $flowchart := "---\nconfig:\n  look: classic\n  theme: neutral\n---\n" }}*/}}
{{ $flowchart := "flowchart LR\n" }}

{{ $flowchart = printf "%sclassDef left_node fill:%s;\n" $flowchart site.Params.mermaid.left_node_colour }}
{{ $flowchart = printf "%sclassDef right_node fill:%s;\n" $flowchart site.Params.mermaid.right_node_colour }}
{{ $flowchart = printf "%sclassDef notify fill:%s;\n" $flowchart site.Params.mermaid.notify_node_colour }}

{{ range sort $workflowPage.Data.Pages "File.ContentBaseName" }}
    {{ $stepPage := . }}
    {{ $stepPosition := .File.ContentBaseName }}
    {{ with $stepPage.Params.flowchart }}
        {{ $label := print $stepPosition " <a href='" $stepPage.Permalink "'>" .label "</a>"}}
        {{ if eq $stepPage $currentPage }}
            {{ $flowchart = printf "%sstyle %s stroke-width:3px,stroke: #555\n" $flowchart $stepPosition }}

        {{ end }}
        {{ $shape := "rect" }}
        {{ if eq $stepPage.Params.scope "notify"}}
            {{ if .multiple}}
                {{ $shape = "docs" }}
            {{ else }}
                {{ $shape = "doc" }}
            {{ end }}
        {{ else }}
            {{ if eq $stepPosition "1" }}
                {{ $shape = "circle" }}
            {{ else if .terminates }}
                {{ $shape = "stadium" }}
            {{ else if .decision }}
                {{ $shape = "diamond" }}
            {{ end }}
        {{ end }}

        {{ $flowchart = printf "%s%s@{shape: %s, label: \"%s\"}\n" $flowchart $stepPosition $shape $label}}
        {{ range .flows_to }}
            {{ $flowchart = printf "%s%s --> %s\n" $flowchart $stepPosition . }}
        {{ end }}

        {{ if eq $stepPage.Params.scope "notify"}}
            {{ $flowchart = printf "%sclass %s %s\n" $flowchart $stepPosition "notify;" }}
        {{else if eq $stepPage.Params.scope "left_node" }}
            {{ $flowchart = printf "%sclass %s %s\n" $flowchart $stepPosition "left_node;" }}
        {{ else if eq $stepPage.Params.scope "right_node" }}
            {{ $flowchart = printf "%sclass %s %s\n" $flowchart $stepPosition "right_node;" }}
        {{ end }}

    {{ end }}
{{ end }}



{{ with $flowchart }}
	<span class="key-label">Key (colour coding):</span>
	<span class="key-colour-code-box" style="background-color: {{ site.Params.mermaid.left_node_colour }}; ">{{ $workflowPage.Params.left_node }}</span>
	<span class="key-colour-code-box" style="background-color: {{ site.Params.mermaid.right_node_colour }}; ">{{ $workflowPage.Params.right_node }}</span>
	<span class="key-colour-code-box" style="background-color: {{ site.Params.mermaid.notify_node_colour }}; ">notification</span>
  {{ partial "workflows/render_mermaid" . }}
{{ end }}