{{ $returnValue := "flowchart LR\n" }}

{{ $returnValue = printf "%sclassDef left_node fill:%s;\n" $returnValue site.Params.mermaid.left_node_colour }}
{{ $returnValue = printf "%sclassDef right_node fill:%s;\n" $returnValue site.Params.mermaid.right_node_colour }}
{{ $returnValue = printf "%sclassDef notify fill:%s;\n" $returnValue site.Params.mermaid.notify_node_colour }}

{{ range sort page.Data.Pages "File.ContentBaseName" }}
    {{ $stepPage := . }}
    {{ $stepPosition := .File.ContentBaseName }}
    {{ with $stepPage.Params.flowchart }}
        {{ $label := print $stepPosition " <a href='#step_" $stepPosition "'>" .label "</a>"}}
        {{ $shape := "rect" }}
        {{ if eq $stepPage.Params.scope "notify"}}
            {{ $shape = "doc" }}
        {{ else }}
            {{ if eq $stepPosition "1" }}
                {{ $shape = "circle" }}
            {{ else if eq (len .flows_to) 0 }}
                {{ $shape = "stadium" }}
            {{ else if (gt (len .flows_to) 1) }}
                {{ $shape = "diamond" }}
            {{ end }}
        {{ end }}

        {{ $returnValue = printf "%s%s@{shape: %s, label: \"%s\"}\n" $returnValue $stepPosition $shape $label}}
        {{ range .flows_to }}
            {{ $returnValue = printf "%s%s --> %s\n" $returnValue $stepPosition . }}
        {{ end }}

        {{ if eq $stepPage.Params.scope "notify"}}
            {{ $returnValue = printf "%sclass %s %s\n" $returnValue $stepPosition "notify;" }}
        {{else if eq $stepPage.Params.scope "left_node" }}
            {{ $returnValue = printf "%sclass %s %s\n" $returnValue $stepPosition "left_node;" }}
        {{ else if eq $stepPage.Params.scope "right_node" }}
            {{ $returnValue = printf "%sclass %s %s\n" $returnValue $stepPosition "right_node;" }}
        {{ end }}

    {{ end }}
{{ end }}

{{ return $returnValue }}