{{ $stepPosition := .stepPosition }}
{{ $stepPage := .stepPage }}

<div class="card" id="step_{{ $stepPosition }}">
    <div class="card-header">
        <span class="step-number">{{ $stepPosition }}</span>&nbsp;<a href="{{ $stepPage.Permalink }}">{{ $stepPage.Title }}</a>
    </div>
    <div class="card-body">
        {{ $stepPage.Description | markdownify }}
        {{ if ne $stepPage.Content "" }}
            <div class="accordion" id="accordionRight_{{$stepPosition }}">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accordionRightDetailHeading_{{$stepPosition }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionRightDetail_{{$stepPosition }}" aria-expanded="false"
                                aria-controls="accordionRightDetail_{{$stepPosition }}">
                            More Details
                        </button>
                    </h2>
                    <div id="accordionRightDetail_{{$stepPosition }}" class="accordion-collapse collapse" aria-labelledby="accordionRightDetailHeading_{{$stepPosition }}"
                         data-bs-parent="#accordionRight_{{$stepPosition }}">
                        <div class="accordion-body">
                            {{ $stepPage.Content }}
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
        {{ if eq (len $stepPage.Params.flowchart.flows_to) 0 }}
            <div class="workflow-step-label-container"><span class="badge bg-danger">workflow terminates here</span></div>
        {{ end }}
    </div>
</div>