<div data-pagefind-ignore>
{{/*    {{ range sort .Data.Pages "File.ContentBaseName" }}*/}}
    {{ range .Data.Pages.ByWeight }}
        {{ $stepPosition := .File.ContentBaseName }}
        {{ if eq .Params.scope "notify" }}
            {{ $patternPage := .Site.GetPage (print "/specification/patterns/" .Params.pattern) }}
            {{ $mergedPayload := $patternPage.Params.Payload }}
            {{ $scenarioStepPayloadContainerMap := .Params.Payload }}
            {{ with $scenarioStepPayloadContainerMap }}
                {{ $mergedPayload = merge $mergedPayload . }}
            {{ end }}
            <div class="row">
                <div class="col-3 column-left">
                </div>
                <div class="col-6 column-center">
                    <div class="card notify-card">
                        {{ if eq .Params.sender "left_node" }}
                            <div class="card-header notify-card-header notify-card-header-right">
                                <span class="step-number">{{ $stepPosition }}</span>&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a> <img src="/images/arrow_right_small.svg" alt="right arrow" class="big-arrow-right"/>
                            </div>
                        {{ else }}
                            <div class="card-header notify-card-header notify-card-header-left">
                                <img src="/images/arrow_left_small.svg" alt="left arrow" class="big-arrow-left"/> <span class="step-number">{{ $stepPosition }}</span>&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a>
                            </div>
                        {{ end }}
                        <div class="card-body notify-card-body">
                            <p>{{ .Description }}</p>


                            <div class="accordion" id="accordionCenter_{{$stepPosition }}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="accordionCenterDetailHeading_{{$stepPosition }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCenterDetails_{{$stepPosition }}" aria-expanded="true"
                                                aria-controls="accordionCenterDetails_{{$stepPosition }}">
                                            More Details
                                        </button>
                                    </h2>
                                    <div id="accordionCenterDetails_{{$stepPosition }}" class="accordion-collapse collapse" aria-labelledby="accordionCenterDetailHeading_{{$stepPosition }}" data-bs-parent="#accordionCenter_{{$stepPosition }}">
                                        <div class="accordion-body">
                                            {{ .Content }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="accordionCenterPropertiesHeading_{{$stepPosition }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCenterProperties_{{$stepPosition }}" aria-expanded="true"
                                                aria-controls="accordionCenterProperties_{{$stepPosition }}">
                                            Properties
                                        </button>
                                    </h2>
                                    <div id="accordionCenterProperties_{{$stepPosition }}" class="accordion-collapse collapse" aria-labelledby="accordionCenterPropertiesHeading_{{$stepPosition }}" data-bs-parent="#accordionCenter_{{$stepPosition }}">
                                        <div class="accordion-body">
                                            {{ partial "properties/all_properties" (dict "payload" $mergedPayload) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="accordionCenterJsonHeading_{{$stepPosition }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCenterJson_{{$stepPosition }}" aria-expanded="false"
                                                aria-controls="accordionCenterJson_{{$stepPosition }}">
                                            Example JSON-LD Payload
                                        </button>
                                    </h2>
                                    <div id="accordionCenterJson_{{$stepPosition }}" class="accordion-collapse collapse" aria-labelledby="accordionCenterJsonHeading_{{$stepPosition }}" data-bs-parent="#accordionCenter_{{$stepPosition }}">
                                        <div class="accordion-body">
                                            {{ $payload := partial "properties/json_payload" (dict "payload" $mergedPayload) }}
                                            {{ (partial "render_json" $payload) | markdownify }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 column-right">
                </div>
            </div>
        {{ end }}
        {{ if eq .Params.scope "left_node" }}
            <div class="row">
                <div class="col-3 column-left">
                    <div class="card">
                        <div class="card-header">
                            <span class="step-number">{{ $stepPosition }}</span>&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a>
                        </div>
                        <div class="card-body">
                            {{ .Description }}
                            {{ if ne .Content "" }}
                                <div class="accordion" id="accordionLeft_{{$stepPosition }}">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="accordionLeftDetailHeading_{{$stepPosition }}">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLeftDetail_{{$stepPosition }}" aria-expanded="false"
                                                    aria-controls="accordionLeftDetail_{{$stepPosition }}">
                                                More Details
                                            </button>
                                        </h2>
                                        <div id="accordionLeftDetail_{{$stepPosition }}" class="accordion-collapse collapse" aria-labelledby="accordionLeftDetailHeading_{{$stepPosition }}"
                                             data-bs-parent="#accordionLeft_{{$stepPosition }}">
                                            <div class="accordion-body">
                                                {{ .Content }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="col-6 column-center">
                </div>
                <div class="col-3 column-right">
                </div>
            </div>
        {{ end }}
        {{ if eq .Params.scope "right_node" }}
            <div class="row">
                <div class="col-3 column-left">
                </div>
                <div class="col-6 column-center">
                </div>
                <div class="col-3 column-right">
                    <div class="card">
                        <div class="card-header">
                            <span class="step-number">{{ $stepPosition }}</span>&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a>
                        </div>
                        <div class="card-body">
                            {{ .Description }}
                            {{ if ne .Content "" }}
                                <div class="accordion" id="accordionRight_{{$stepPosition }}">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="accordionRightDetailHeading_{{$stepPosition }}">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionRightDetail_{{$stepPosition }}" aria-expanded="false"
                                                    aria-controls="accordionRightDetail_{{$stepPosition }}">
                                                More Details
                                            </button>
                                        </h2>
                                        <div id="accordionRightDetail_{{$stepPosition }}" class="accordion-collapse collapse" aria-labelledby="accordionRightDetailHeading_{{$stepPosition }}"
                                             data-bs-parent="#accordionRight_{{$stepPosition }}">
                                            <div class="accordion-body">
                                                {{ .Content }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>