<div data-pagefind-ignore>
    {{ range sort .Data.Pages "File.ContentBaseName" }}
{{/*    {{ range .Data.Pages.ByWeight }}*/}}
        {{ $stepPosition := .File.ContentBaseName }}
        {{ if eq .Params.scope "notify" }}
            <div class="row">
                <div class="col-3 column-left">
                </div>
                <div class="col-6 column-center">
                    {{ partial "workflows/step_centre" . }}
                </div>
                <div class="col-3 column-right">
                </div>
            </div>
        {{ end }}
        {{ if eq .Params.scope "left_node" }}
            <div class="row">
                <div class="col-3 column-left">
                    {{ partial "workflows/step_left" (dict "stepPosition" $stepPosition "stepPage" . )}}
                </div>
                <div class="col-6 column-center">
                </div>
                <div class="col-3 column-right">
                </div>
            </div>
        {{ end }}
        {{ if eq .Params.scope "right_node" }}
            <div class="row">
                <div class="col-3 column-left">
                </div>
                <div class="col-6 column-center">
                </div>
                <div class="col-3 column-right">
                    {{ partial "workflows/step_right" (dict "stepPosition" $stepPosition "stepPage" . )}}
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>