<table class="table sortable-table table-sm table-striped">
	<caption>{{ .caption }}</caption>
	<thead>
	<tr class="column-header-row">
		<th>Workflow</th>
		<th>Participants</th>
		<th>Notify Version</th>
		<th>Implementations</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
  {{ range .rows }}
			<tr>
				<td>
					<a href="{{ .Permalink }}">{{ .Title }}</a>
				</td>
				<td class="nowrap">{{ .Params.left_node }} <-> {{ .Params.right_node }}</td>
				<td>
					<a href="/specification/{{ partial "versioning/function_get_version" . }}/">{{ partial "versioning/function_get_version" . }}</a>
				</td>
				<td>
            {{ with .Params.implementations }}
                {{ $pageArray := slice }}
                {{ range . }}
                    {{ $pageArray = $pageArray | append (site.GetPage (printf "/catalogue/implementations/%s" . )) }}
                {{ end }}
								{{ partial "delimited_linked_page_list" $pageArray.ByTitle }}
            {{ end }}
				</td>
				<td>
            {{ partial "status/status_badge" . }}
				</td>
			</tr>
  {{ end }}
	</tbody>
</table>



