<table class="table sortable-table table-sm table-striped">
	<caption>{{ .caption }}</caption>
	<thead>
	<tr class="column-header-row">
		<th>Workflow</th>
		<th>Participants</th>
		<th>Notify Version</th>
		<th>Known Implementations</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
  {{ range .rows }}
			<tr>
				<td>
					<a href="{{ .Permalink }}">{{ .Title }}</a>
				</td>
				<td class="nowrap">{{ .Params.left_node }} <-> {{ .Params.right_node }}</td>
				<td>
					<a href="/specification/{{ partial "versioning/function_get_version" . }}/">{{ partial "versioning/function_get_version" . }}</a>
				</td>
				<td>
            {{ with .Params.implementations }}
                {{ $pageArray := slice }}
                {{ range . }}
										{{ $implementationPage := (where site.RegularPages "File.ContentBaseName" . ) }}
                    {{ $pageArray = $pageArray | append $implementationPage }}
                {{ end }}
								{{ partial "delimited_linked_page_list" (dict "pages" $pageArray.ByTitle "with_links" true) }}
            {{ end }}
				</td>
				<td>
            {{ partial "status/status_badge" . }}
				</td>
			</tr>
  {{ end }}
	</tbody>
</table>



