{{ define "main" }}
	<h1>{{ .Title }}</h1>
  {{ .Content }}
	<h2>Officially Supported/Endorsed by COAR Notify</h2>
	These components are officially endorsed or supported by the COAR Notify Initiative project, where:
	<ul>
		<li><b>"endorsed"</b> means that the library is recommended for use in production systems</li>
		<li><b>"supported"</b> means that the library is endorsed <b>and also</b> actively maintained by the COAR Notify Initiative.</li>
	</ul>


	<table class="table sortable-table table-sm table-striped">
		<thead>
		<tr class="column-header-row">
			<th>Name</th>
			<th>Status</th>
			<th>Language</th>
			<th class="no-sort">Description</th>
		</tr>
		</thead>
		<tbody>
    {{ range .Site.Data.code_libraries.official }}
			<tr>
				<td class="nowrap">{{ .title }}</td>
				<td>{{ .status }}</td>
				<td>{{ .programming_language }}</td>
				<td>
            {{ .description | markdownify }}
            {{ with .sources }}
							<br/>
							<b>Sources:</b> <a href="{{ . }}" class="external-link">{{ . }}</a>
            {{ end }}
            {{ with .documentation }}
							<br/>
							<b>Documentation:</b> <a href="{{ . }}" class="external-link">{{ . }}</a>
            {{ end }}
				</td>
			</tr>
    {{ end }}
		</tbody>
	</table>

	<br/>
	<br/>
	<h2>Other third-party implementations</h2>
	This section provides a list of components that have been used to implement or support the COAR Notify protocol.
	These are not endorsed or officially supported by COAR Notify.

	<table class="table sortable-table table-sm table-striped">
		<thead>
		<tr class="column-header-row">
			<th>Name</th>
			<th>Status</th>
			<th>Language</th>
			<th class="no-sort">Description</th>
		</tr>
		</thead>
		<tbody>
    {{ range .Site.Data.code_libraries.unofficial }}
			<tr>
				<td class="nowrap">{{ .title }}</td>
				<td>{{ .status }}</td>
				<td>{{ .programming_language }}</td>
				<td>
            {{ .description | markdownify }}
            {{ with .sources }}
							<br/>
							<b>Sources:</b> <a href="{{ . }}" class="external-link">{{ . }}</a>
            {{ end }}
            {{ with .documentation }}
							<br/>
							<b>Documentation:</b> <a href="{{ . }}" class="external-link">{{ . }}</a>
            {{ end }}
				</td>
			</tr>
    {{ end }}
		</tbody>
	</table>
{{ end }}