<a href="https://www.arcadiafund.org.uk"><img src="/images/logos/arcadia_logo.jpg" alt="Arcadia logo" style="width: 200px; float:right;"/></a>

<p>COAR is extremely grateful for the generous funding support from <a href="https://www.arcadiafund.org.uk">Arcadia</a>, a charitable foundation that works to protect nature, preserve cultural heritage and promote open access to knowledge.
    COAR has been awarded a US$4 million grant from Arcadia, which will go towards the COAR Notify Project. The funded project began on July 1st, 2022 and will last for four years.</p>