{{ define "main" }}
    {{ $implementationID := path.Base .File.Dir }}
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		<div class="row">
			<div class="col-9">
				<div class="row">
					<div class="col field-name">
						System name
					</div>
					<div class="col">
              {{ .Title }}
					</div>
				</div>
				<div class="row">
					<div class="col field-name">
						Description
					</div>
					<div class="col">
              {{ .Description }}
					</div>
				</div>
				<div class="row">
					<div class="col field-name">
						Homepage
					</div>
					<div class="col">
						<a href="{{ .Params.homepage }}">{{ .Params.homepage }}</a>
					</div>
				</div>
				<div class="row">
					<div class="col field-name">
						Supported workflows
					</div>
					<div class="col">
              {{ $workflows := where site.Pages ".Params.implementations" "intersect" (slice $implementationID) }}
              {{ with $workflows }}
								<ul>
                    {{ range . }}
											<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end}}
								</ul>
              {{ end }}
					</div>
				</div>
			</div>
			<div class="col-3">
          {{ with .Resources.GetMatch "logo.*" }}
						<img src="{{ .Permalink }}" class="system-page-logo" alt="Logo for {{ page.Title }}"/>
          {{ end }}
			</div>
		</div>
    {{ .Content }}
{{ end }}