{{ define "main" }}
    {{ $specificationVersion := partial "versioning/function_get_version" . }}
    {{ partial "specification/badges" . }}
		<h1>{{ .Title }} {{ .Params.version }}</h1>
    {{ partial "rfc2119" . }}
		<div class="row">
			<div class="col-9">
          {{ .Content }}
				<h3>The <code>activity</code> MUST contain the following</h3>
          {{ range .Params.required_properties }}
              {{ $label := . }}
              {{ $p1 := index (partial "payload/process_property" (dict "version" $specificationVersion "label" $label "value" (dict "lookup" "default"))) $label }}
							<h4 style="margin-bottom: 0;">{{ $label }}</h4>
							<div style="margin-bottom: 15px;">
                  {{ $documentation := printf "`%s` is %s. %s" $label $p1.requirement $p1.description }}
                  {{ $documentation | markdownify }}
							</div>
          {{ end }}
				<br/>
				<h3>The <code>activity</code> SHOULD contain the following</h3>
          {{ range .Params.recommended_properties }}
              {{ $label := . }}
              {{ $p1 := index (partial "payload/process_property" (dict "version" $specificationVersion "label" $label "value" (dict "lookup" "default"))) $label }}
							<h4 style="margin-bottom: 0;">{{ $label }}</h4>
							<div style="margin-bottom: 15px;">
                  {{ $documentation := printf "`%s` is %s. %s" $label $p1.requirement $p1.description }}
                  {{ $documentation | markdownify }}
							</div>
          {{ end }}
				<br/>
				<h3>The <code>activity</code> MAY contain the following</h3>
          {{ range .Params.optional_properties }}
              {{ $label := . }}
              {{ $p1 := index (partial "payload/process_property" (dict "version" $specificationVersion "label" $label "value" (dict "lookup" "default"))) $label }}
							<h4 style="margin-bottom: 0;">{{ $label }}</h4>
							<div style="margin-bottom: 15px;">
                  {{ $documentation := printf "`%s` is %s. %s" $label $p1.requirement $p1.description }}
                  {{ $documentation | markdownify }}
							</div>
          {{ end }}
			</div>
			<div class="col-3">
				<h3>Patterns</h3>
          {{ range sort (index site.Taxonomies "pattern-categories") ".Page.Weight" "asc"}}
						<ul>
							<li>
								<b>{{ .Page.Title }}</b>
								<ul>
                    {{ range .Pages.ByWeight }}
                        {{ if eq (partial "versioning/function_get_version" .) $specificationVersion }}
													<li>
														<a href="{{ .Permalink}}"> {{ .LinkTitle }}</a>
													</li>
                        {{ end }}
                    {{ end }}
								</ul>
							</li>
						</ul>
          {{ end }}
				<h3>Notify Activity Types</h3>
				<ul>
            {{ range .Params.vocabulary_terms}}
                {{ $vocabTermPage := site.GetPage (printf "/specification/vocabulary/%s" . ) }}
                {{ if not $vocabTermPage }}
                    {{ errorf "Error on page '%s': Page for vocabulary term '%s' not found" .File.Path . }}
                {{ end }}
								<li><a href="{{ $vocabTermPage.Permalink }}">{{ $vocabTermPage.Title }}</a></li>
            {{ end }}
				</ul>
				<h3>References</h3>
				<ul>
					<li>
						<a href="release-notes">Release Notes</a>
					</li>
				</ul>
			</div>
		</div>

{{ end }}