{{ define "main" }}
    {{ $specificationVersion := partial "versioning/function_get_version" . }}
    {{ partial "specification/badges" . }}
		<h1>{{ .Title }} {{ .Params.version }}</h1>
		<div class="row">
			<div class="col-9">
          {{ partial "specification/current_version_callout" . }}
          {{ .Content }}
			</div>
			<div class="col-3">
					<h3>Patterns</h3>
          {{ range index site.Taxonomies "pattern-categories" }}
						<h5>{{ .Page.Title }}</h5>
						<ul>
                {{ range .Pages }}
                    {{ if eq (partial "versioning/function_get_version" .) $specificationVersion }}
											<li>
												<a href="{{ .Permalink}}"> {{ .LinkTitle }}</a>
											</li>
                    {{ end }}
                {{ end }}
						</ul>
          {{ end }}


			</div>
		</div>

{{ end }}