{{ define "main" }}
	<h1>{{ .Title }}</h1>
	<div class="row">
		<div class="col-9">
        {{ partial "specification/current_version_callout" . }}
        {{ .Content }}
		</div>
		<div class="col-3">
			<h3>Versions</h3>
			<ul>
          {{ range sort (where .Data.Pages "Type" "ne" "vocabulary") "Params.version" "desc" }}
						<li>
							<a href="{{ .Permalink }}">{{ .Title }} {{ .Params.version }}</a>
                {{ partial "versioning/version_is_latest_badge" (dict "page" . "showIfNotMostRecent" false) }}
						</li>
          {{ end }}
			</ul>
			<h3>Reference</h3>
			<ul>
				<li><a href="/specification/vocabulary">COAR Notify Activity Vocabulary</a></li>
				<li><a href="/about/editorial/">Editorial Process</a></li>
          {{/*				<li><a href="/changelog/">Change Log</a></li>*/}}
			</ul>
		</div>

	</div>

{{ end }}