{{ $inComingPayloadDocs := .payloadDocs }}
{{ $inComingPayload := .payload }}

{{ partial "properties/@context/doc" (dict "payload" $inComingPayload) | markdownify }}

{{- partial "properties/process_property_doc" (dict "payload" $inComingPayload "payloadDocs" $inComingPayloadDocs "property" "actor" "class" "actors") | markdownify -}}

{{- partial "properties/process_property_doc" (dict "payload" $inComingPayload "payloadDocs" $inComingPayloadDocs "property" "context" "class" "artefacts") | markdownify -}}

{{ partial "properties/id/doc" $inComingPayload | markdownify }}

{{- partial "properties/process_property_doc" (dict "payload" $inComingPayload "payloadDocs" $inComingPayloadDocs "property" "inReplyTo" "class" "in_reply_to") | markdownify -}}

{{- partial "properties/process_property_doc" (dict "payload" $inComingPayload "payloadDocs" $inComingPayloadDocs "property" "object" "class" "artefacts") | markdownify -}}

{{- partial "properties/process_property_doc" (dict "payload" $inComingPayload "payloadDocs" $inComingPayloadDocs "property" "origin" "class" "systems") | markdownify -}}

{{- partial "properties/process_property_doc" (dict "payload" $inComingPayload "payloadDocs" $inComingPayloadDocs "property" "target" "class" "systems") | markdownify -}}

{{ partial "properties/type/doc" $inComingPayload | markdownify }}



