{{ $inComingPayload := .payload }}

{{ $payload := partial "properties/@context/payload" (dict "payload" $inComingPayload) }}

{{ $payload = merge $payload (partial "properties/id/payload" $inComingPayload) }}

{{ $payload = merge $payload (partial "properties/type/payload" $inComingPayload) }}

{{ with $inComingPayload.actor }}
    {{ if ne . "__exclude__"}}
        {{ $payload = merge  (partial "properties/process_property_json" (dict "payload" . "property" "actor" "class" "actors")) $payload }}
    {{ end }}
{{ end }}

{{ with $inComingPayload.context }}
    {{ if ne . "__exclude__"}}
        {{ $payload = merge  (partial "properties/process_property_json" (dict "payload" . "property" "context" "class" "artefacts")) $payload }}
    {{ end }}
{{ end }}

{{ with $inComingPayload.inReplyTo }}
    {{ if ne . "__exclude__"}}
        {{ $payload = merge  (partial "properties/process_property_json" (dict "payload" . "property" "inReplyTo" "class" "in_reply_to")) $payload }}
    {{ end }}
{{ end }}

{{ with $inComingPayload.object }}
    {{ if ne . "__exclude__"}}
        {{ $payload = merge  (partial "properties/process_property_json" (dict "payload" . "property" "object" "class" "artefacts")) $payload }}
    {{ end }}
{{ end }}

{{ with $inComingPayload.origin }}
    {{ if ne . "__exclude__"}}
        {{ $payload = merge  (partial "properties/process_property_json" (dict "payload" . "property" "origin" "class" "systems")) $payload }}
    {{ end }}
{{ end }}

{{ with $inComingPayload.summary }}
    {{ if ne . "__exclude__"}}
        {{ $payload = merge  (partial "properties/process_property_json" (dict "payload" . "property" "summary" "class" "summaries")) $payload }}
    {{ end }}
{{ end }}

{{ with $inComingPayload.target }}
    {{ if ne . "__exclude__"}}
        {{ $payload = merge  (partial "properties/process_property_json" (dict "payload" . "property" "target" "class" "systems")) $payload }}
    {{ end }}
{{ end }}

{{ return $payload}}
