{{ $inComingPayloadDocs := .payloadDocs }}
{{ $inComingPayload := .payload }}
{{ $propertyName := .property }}
{{ $property := index $inComingPayload $propertyName }}


{{ if ne $property "__exclude__"}}

    {{ if and (ne $inComingPayloadDocs nil) (ne (index $inComingPayloadDocs $propertyName) nil)}}
        {{- print "\n#### `" $propertyName "`" -}}
        {{- (index $inComingPayloadDocs $propertyName) | markdownify -}}
    {{ else }}
        {{ if and (ne $inComingPayload nil) (ne (index $inComingPayload $propertyName) nil)}}
            {{- print "\n#### `" $propertyName "`" -}}

            {{/*            {{- $prefixToSpecificDescription := "This particular example has the following properties:\n\n" -}}*/}}
            {{- $prefixToSpecificDescription := "" -}}

            {{- $defaultDescription := "***UNDEFINED***"}}
            {{- with index site.Data.payloads.default_descriptions $propertyName -}}
                {{- $defaultDescription = print "The `" $propertyName "` has: \n" . -}}
            {{- end -}}

            {{- $description := $defaultDescription -}}

            {{- if isSet $property "description" -}}
                {{- $description = print $prefixToSpecificDescription $property.description -}}
            {{- else -}}
                {{- if isSet $property "lookup" -}}
                    {{- $lookupClassSource := index site.Data.payloads .class -}}
                    {{- $lookupEntity := index $lookupClassSource $property.lookup -}}
                    {{- $lookupEntityDescription := index $lookupEntity "description" -}}
                    {{- if $lookupEntityDescription -}}
                        {{- $description = print $prefixToSpecificDescription $lookupEntityDescription -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}

            {{- print "\n" (index site.Data.payloads.default_descriptions.general_descriptions .property)  "\n" $description -}}

        {{ end }}
    {{ end }}

{{ end }}