{{ define "main" }}
    <h1 class="page-title">{{ .Title }}</h1>
    {{ .Content }}
    <div class="row">
        {{ range .Data.Pages }}
            <div class="col-12 col-lg-6">
                <a class="card-as-link" href="{{ .Permalink }}">
                <div class="card pattern-category-card">
                    <div class="card-header">
                        <h5>{{ .Title }}</h5>
                    </div>
                    <div class="card-body">
                        <p>{{ .Description | markdownify }}</p>
                    </div>
                </div>
                </a>
            </div>
        {{ end }}
    </div>
{{ end }}