{{ define "main" }}
    <h1 class="page-title">{{ .Title }}</h1>
    {{ .Content }}
    <div class="row">
        {{ range .Data.Pages }}
            <div class="col-12 col-lg-6">
                <a class="card-as-link" href="{{ .Permalink }}">
                <div class="card pattern-category-card">
                    <div class="card-header">
                        <h5>{{ .Title }}</h5>
                    </div>
                    <div class="card-body">
                        <p>{{ .Description | markdownify }}</p>
{{/*                        {{ $workflows := where (where site.Pages "Type" "workflows" ) "Params.use-cases" "intersect" (slice .File.ContentBaseName) }}*/}}
{{/*                        {{ with $workflows }}*/}}
{{/*                            {{ partial "workflows/table" (dict "caption" "Workflows" "rows" $workflows)  }}*/}}
{{/*                        {{ end }}*/}}
                    </div>
                </div>
                </a>
            </div>
        {{ end }}
    </div>
{{ end }}