{{ $version := .version}}
{{ $property := dict "description" "" "requirement" "" "value" nil }}
{{ $description := ""  }}
{{ $value := ""  }}
    {{ $requirement := ""}}

{{/*should always be a map - ignore otherwise*/}}
{{ if reflect.IsMap .value }}
    {{/*    PROCESS DESCRIPTION*/}}
    {{ if (index .value "lookup") }}
        {{ $lookupParameter := dict "key" (index .value "lookup") "label" .label }}
        {{ $description = partial "payload/lookup_entity_description" (dict "lookupParameter" $lookupParameter "version" $version) }}
    {{ else if not (index .value "description") }}
        {{ $lookupParameter := dict "key" "default" "label" .label }}
        {{ $description = partial "payload/lookup_entity_description" (dict "lookupParameter" $lookupParameter "version" $version) }}
    {{ else }}
        {{ $description = index .value "description" }}
    {{ end }}

    {{/*    PROCESS REQUIREMENT*/}}
    {{ if (index .value "lookup") }}
        {{ $lookupParameter := dict "key" (index .value "lookup") "label" .label }}
        {{ $requirement = partial "payload/lookup_entity_requirement" (dict "lookupParameter" $lookupParameter "version" $version) }}
    {{ else if not (index .value "requirement") }}
        {{ $lookupParameter := dict "key" "default" "label" .label }}
        {{ $requirement = partial "payload/lookup_entity_requirement" (dict "lookupParameter" $lookupParameter "version" $version) }}
    {{ else }}
        {{ $requirement = index .value "requirement" }}
    {{ end }}

    {{/*    PROCESS PAYLOAD*/}}
    {{ if (index .value "lookup") }}
        {{ $lookupParameter := dict "key" (index .value "lookup") "label" .label }}
        {{ $value = partial "payload/lookup_entity_payload" (dict "lookupParameter" $lookupParameter "version" $version) }}
    {{ else }}
        {{ $value = index .value "value" }}
    {{ end }}
{{ end }}

{{ $property = merge $property (dict "description" $description) }}
{{ $property = merge $property (dict "requirement" $requirement) }}
{{ $property = merge $property (dict "value" $value) }}

{{ return (dict .label $property)}}