{{ $payload := .payload }}
{{ $specificationVersion := .specificationVersion }}
{{ if ne $specificationVersion "0.9.0" }}
    {{ if not (index $payload "@context") }}
        {{ errorf "Error on page '%s': Mandatory property '@context' is missing" page.File.Path}}
    {{ end }}
    {{ if not (index $payload "id") }}
        {{ errorf "Error on page '%s': Mandatory property 'id' is missing" page.File.Path}}
    {{ end }}
    {{ if not (index $payload "type") }}
        {{ errorf "Error on page '%s': Mandatory property 'type' is missing" page.File.Path}}
    {{ end }}
    {{ if not (index $payload "object") }}
        {{ errorf "Error on page '%s': Mandatory property 'object' is missing" page.File.Path}}
    {{ end }}


    {{ range $k, $v := $payload }}
        {{ $description := index $v "description"}}
        {{ $value := index $v "value"}}
        {{ if not $description}}
            {{ errorf "Error on page '%s': Missing description for property '%s'" page.File.Path $k }}
        {{ end }}
        {{ if not $value }}
            {{ errorf "Error on page '%s': Missing value for property '%s'" page.File.Path $k }}
        {{ end }}
    {{ end }}
{{ end }}