{{ define "main" }}
    {{ partial "specification/badges" . }}
		<h1>Pattern: {{ .Title }}</h1>
    {{ partial "rfc2119" . }}
		<p>{{ .Description | markdownify }}</p>
    {{ $mergedPayload := partial "payload/build_pattern_payload" . }}
<div class="row">
	<div class="col-6">
		<h2>Properties</h2>
      {{ partial "payload/render_markdown" $mergedPayload }}
	</div>
	<div class="col-6">
		<h2>Example JSON-LD Payload</h2>
		<div class="get-raw-json-button">
			<a class="btn btn-sm btn-secondary" href="./index.json">Get raw JSON</a>
		</div>
      {{ (partial "payload/render_json_as_html" $mergedPayload) }}
	</div>
</div>

{{ end }}