<table class="table sortable-table table-sm table-striped">
	<caption>{{ .caption }}</caption>
	<thead>
	<tr class="column-header-row">
		<th>Name</th>
		<th>Type(s)</th>
		<th>Homepage</th>
		<th>
			Implemented Workflows
		</th>
	</tr>
	</thead>
	<tbody>
  {{ range .rows }}
		<tr>
			<td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
			<td>{{ delimit .Params.implementation_types ", " }}</td>
			<td>
          {{ with .Params.homepage }}
						<a href="{{ . }}" class="external-link">{{ . }}</a>
          {{ end }}
			</td>
			<td>
          {{ $implementationID := path.Base .File.Dir }}
          {{ $workflows := where site.Pages ".Params.implementations" "intersect" (slice $implementationID) }}
          {{ with $workflows }}
              {{ partial "delimited_linked_page_list" $workflows.ByTitle }}
          {{ end }}
			</td>
		</tr>
  {{ end }}
	</tbody>
</table>



