<table class="table sortable-table table-sm table-striped">
    {{ if .caption }}
			<caption>{{ .caption }}</caption>
    {{ end }}
	<thead>
	<tr class="column-header-row">
		<th>Name</th>
		<th>Type(s)</th>
		<th>Homepage</th>
		<th>
			Implemented Workflows
		</th>
	</tr>
	</thead>
	<tbody>
  {{ range .rows }}
		<tr>
			<td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
			<td>
          {{ with .GetTerms "implementation-types" }}
              {{ partial "delimited_linked_page_list" (dict "pages" . "with_links" true) }}
          {{ end }}
			</td>
			<td>
          {{ with .Params.homepage }}
						<a href="{{ . }}" class="external-link">{{ . }}</a>
          {{ end }}
			</td>
			<td>
          {{ $implementationID := .File.ContentBaseName }}
          {{ $workflows := where site.Pages ".Params.implementations" "intersect" (slice $implementationID) }}
          {{ with $workflows }}
              {{ partial "delimited_linked_page_list" (dict "pages" $workflows.ByTitle "with_links" true)  }}
          {{ end }}
			</td>
		</tr>
  {{ end }}
	</tbody>
</table>



