{{ define "main" }}
    <h1 class="page-title">{{ .Title }}</h1>
    {{ .Content }}
    <table class="table sortable-table table-sm table-striped">
        <caption>Codebases</caption>
        <thead>
        <tr class="column-header-row">
            <th>Name</th>
            <th>Language</th>
            <th>Sources</th>
            <th class="no-sort">Description</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Data.Pages }}
            <tr>
{{/*                <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>*/}}
                <td class="nowrap">{{ .Title }}</td>
                <td>{{ .Params.programming_language }}</td>
                <td class="nowrap"><a href="{{ .Params.sources }}" class="external-link">{{ .Params.sources }}</a></td>
                <td>{{ .Description | markdownify }}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>


{{ end }}