{{ define "main" }}
    {{/*    {{ partial "section_badge" "Use-case" }}*/}}
    <h1>{{ .Title }}</h1>
    {{ if and (ne .Content nil) (ne .Content "") }}
        {{ .Content}}
    {{ else }}
        {{ .Description | markdownify}}
    {{ end }}

    {{ $patterns := where (where site.Pages "Type" "patterns" ) "Params.use-cases" "intersect" (slice .File.ContentBaseName) }}
    {{ with $patterns }}
        {{ partial "patterns/patterns_table" (dict "caption" "Relevant Patterns" "rows" $patterns) }}
    {{ end }}
    <br/>
    {{ $scenarios := where (where site.Pages "Type" "scenarios" ) "Params.use-cases" "intersect" (slice .File.ContentBaseName) }}
    {{ with $scenarios }}
        {{ partial "scenarios/scenarios_table" (dict "caption" "Example Scenarios" "rows" $scenarios)  }}
    {{ end }}
{{ end }}