//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
$main-content-font: 'Source Sans 3', sans-serif;
$main-content-font-weight-default: 300;
$main-content-font-size: 18px;
$table-content-font-size: 16px;

$monospace-font: 'Roboto Mono', monospace;
$monospace-font-weight-default: medium;

$heading-font: 'Source Sans 3', sans-serif;
$heading-font-weight-default: normal;


//Text Colour
$main-content-text-color: black;
$heading-text-color: #444444;
$navbar-text-colour: #000000;
$code-text-color: #990055;

//Link colour
$link-colour: #23527c;
$header-link-colour: #444444;

//Borders and panels
$border-colour: #cdcdcd;
$panel-background-colour: #f2f2f2;
//$panel-and-table-header-colour: #d0e1f2;

//Site header
$navbar-link-color: #222222;




