@import 'variables';

img.system-list-logo {
  //display: block;
  //border: 1px solid #cdcdcd;
  //margin-right: 30px;
  max-width: 100%;
  //max-height: 50px;
}

img.system-page-logo {
  max-width: 100%;
  margin-top: 10px;
}

div.system-list-card-footer {
  font-size: 80%;
  text-align: center;
}

div.workflow-step-label-container {
  text-align: center;
}