@import 'variables';

pre.mermaid {
  background-color: white;
}

span.key-colour-code-box {
  border: 0.5px solid #555555;
  padding: 3px;
  font-size: 0.8em;
}

span.key-label {
  font-size: 0.8em;
  font-weight: bold;
}