@import 'variables';

div.rfc2119-statement {
  font-size: 0.8em;
  text-align: center;
  //border-top: 0.5px solid $border-colour;
  //border-bottom: 0.5px solid $border-colour;
  border: 1px solid $border-colour;
  background-color: $callout-colour;
  padding: 5px;
  margin-bottom: 5px;
}

div.status-badge-large {
  text-align: right;
  font-size: 200%;
}

div.current-version-callout {
  border: 1px solid #555555;
  padding: 5px;
  margin-bottom: 5px;
  background-color: $callout-colour;
  //font-size: 0.8em;
  text-align: center;
}

div.get-raw-json-button {
  text-align: right;
  margin-bottom: 10px;
}