div.column-left {
    border-right: 1px dashed #cdcdcd;
}

div.column-right {
    border-left: 1px dashed #cdcdcd;
}

.swim-lane-title {
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
}

div.card {
    margin-bottom: 15px;
}

div.notify-card {
    margin-bottom: 15px;
    //border: 2px solid #4682b4;
    border: 2px solid #cdcdcd;
}

div.card-body {
    /*font-size: 90%;*/
}

div.notify-card-header {
    //background-color: #4682b4;
    background-color: #cdcdcd;
    color: white;
}

div.notify-card-header a {
    //color: white;
    text-decoration: none;
}

div.notify-card-header a:hover {
    text-decoration: underline;
}

div.card-header a {
    text-decoration: none;
    font-weight: normal;
}

div.card-header a:hover {
    text-decoration: underline;
}

div.notify-card-header-left {
    //background-image: url("/images/arrow_left_small.svg");
    //background-repeat: repeat-x;
    //background-position: left;
}

div.notify-card-header-right {
    //background-image: url("/images/arrow_right_small.svg");
    //background-repeat: no-repeat;
    //background-position: right;
}

div.card-header {
    text-align: center;
}

.step-number {
    color: white;
    font-weight: bold;
    //border-radius: 50%;
    //width: 100%;
    //height: 100%;
    padding: 0 5px;
    background: orange;
    border: 1px solid #666;
    text-align: center;
}

div.notification-step-pattern {
    text-align: right;
    font-style: italic;
}

div.json-caption {
    text-align: center;
    font-style: italic;
    font-size: 90%;
}

img.big-arrow-right {
    //float:right;
    margin-left: 5px;
}

img.big-arrow-left {
    //float:left;
    margin-right: 5px;
}